<div class="navbarContainer">
  <nav class="navbar navbar-warning bg-warning">
    <div class="buttonContainerDiv">
      <div class="switch">
        <label class="switch__wrapper">
          <input type="checkbox" [(ngModel)]="cbox" (change)="cboxChange()" />
          <span class="switch__slider"></span>
          <div></div>
        </label>
      </div>
    </div>
    <div class="header kodchasan-bold">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="100%"
        height="100%"
        viewBox="0 0 500 72"
        preserveAspectRatio="xMidYMid meet"
      >
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
          Lorem Test
        </text>
      </svg>
    </div>
    <div class="personDivContainer">
      <p>{{ personNamePlaceHolder }}</p>
      <div class="personDiv"></div>
    </div>
  </nav>
</div>
