<div class="navbarContainer">
  <nav class="navbar navbar-warning bg-warning">
    <div class="switch">
      <label class="switch__wrapper">
        <input type="checkbox" />
        <span class="switch__slider"></span>
        <div></div>
      </label>
    </div>
    <div class="wrapper">
      <div class="toggle">
        <input class="toggle-input" type="checkbox" />
        <div class="toggle-bg"></div>
        <div class="toggle-switch">
          <div class="toggle-switch-figure"></div>
          <div class="toggle-switch-figureAlt"></div>
        </div>
      </div>
    </div>
    <p class="header kodchasan-bold">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="700"
        height="72"
        viewBox="0 0 700 72"
        preserveAspectRatio="xMidYMid meet"
      >
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle">
          Lorem Test
        </text>
      </svg>
    </p>
    <div class="personDivContainer">
      <p>{{ personName }}</p>
      <div class="personDiv"></div>
    </div>
  </nav>
</div>
