.optionsBody {
  background-color: #f0f8ff;
  width: 700px;
  height: 300px;
  border: 3px solid #000000;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(117, 82, 82, 0.22) 0px 15px 12px;
  margin-top: 11%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  z-index: 1000;
}

.optionsBody p {
  margin-bottom: 0px;
  margin-left: 41%;
  font-size: 30px;
}

.optionsBody .btnAndp {
  display: flex;
  align-items: center;
}
.optionsBody .btnAndp p {
  display: flex;
  margin-left: 20px;
  font-size: 20px;
}
/* .optionsBody .btnAndp .pCase {
  display: flex;
  margin-left: 20px;
  font-size: 20px;
  width: 500px;
} */

.optionsBody .btnAndp .sliderDiv {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 4rem;
}

.slider {
  appearance: none; /* removes browser-specific styling */
  width: 250px; /* width of slider */
  height: 5px; /* height of slider */
  background: #ffc107; /* orange background */
  outline: none; /* remove outline */
  border-radius: 50px; /* round corners */
}
​ .slider::-webkit-slider-thumb {
  appearance: none; /* removes browser-specific styling */
  width: 20px; /* handle width */
  height: 20px; /* handle height */
  border-radius: 50%; /* make it circular */
  background: #ffffff; /* white color */
  cursor: pointer; /* cursor on hover */
}

.optionsBody .btnAndp .timerDiv {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 11rem;
}
.optionsBody .btnAndp .timerDiv .negative {
  height: 36px;
  width: 30px;
  border: 3px solid blueviolet;
  border-right: 0;
  border-radius: 15px 0 0 15px;
  background-color: #ffc107;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.optionsBody .btnAndp .timerDiv .negative p {
  color: white;
  font-size: 40px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}
.optionsBody .btnAndp .timerDiv .numberDiv {
  height: 36px;
  width: 60px;
  border: 3px solid blueviolet;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.optionsBody .btnAndp .timerDiv .numberDiv p {
  margin-left: 0;
}
.optionsBody .btnAndp .timerDiv .positive {
  height: 36px;
  width: 30px;
  border: 3px solid blueviolet;
  border-left: 0;
  border-radius: 0 15px 15px 0;
  background-color: #ffc107;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.optionsBody .btnAndp .timerDiv .positive p {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
  margin-right: 5px;
  font-weight: bold;
}

/*! #region Switch Button CSS.. */
/* Switch Button CSS... */
.toggler {
  width: 72px;
  height: auto;
  margin: 20px 0px;
}

.toggler input {
  display: none;
}

.toggler label {
  display: block;
  position: relative;
  width: 72px;
  height: 36px;
  border: 1px solid #d6d6d6;
  border-radius: 36px;
  background: #e4e8e8;
  cursor: pointer;
  background-color: #ffc107;
}

.toggler label::after {
  display: block;
  border-radius: 100%;
  background-color: #d7062a;
  content: "";
  animation-name: toggler-size;
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 26px;
  height: 26px;
  transform: translateY(-50%) translateX(-50%);
  transition: left 0.15s ease-in-out, background-color 0.2s ease-out,
    width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.toggler input:checked + label::after,
.toggler input:checked + label .toggler-on,
.toggler input:checked + label .toggler-off {
  left: 75%;
}

.toggler input:checked + label::after {
  background-color: #50ac5d;
  animation-name: toggler-size2;
}

.toggler .toggler-on,
.toggler .toggler-off {
  opacity: 1;
  z-index: 2;
}

.toggler input:checked + label .toggler-off,
.toggler input:not(:checked) + label .toggler-on {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggler .path {
  fill: none;
  stroke: #fefefe;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

@keyframes toggler-size {
  0%,
  100% {
    width: 26px;
    height: 26px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}

@keyframes toggler-size2 {
  0%,
  100% {
    width: 26px;
    height: 26px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}
/* Switch Button CSS End... */
/* #endregion */
