<div class="container midBody" [ngClass]="{ zoomEffect: isZoomed }">
  <h1 class="kodchasan-bold">Harf Eşleştirme</h1>
  <div class="d1">
    <p class="kodchasan-normal">
      <span
        [class]="compare(letter, enteredText[i])"
        *ngFor="let letter of randomText.split(''); let i = index"
        >{{ letter }}</span
      >
    </p>
  </div>

  <div class="inputDiv">
    <input
      class="inputArea"
      type="text"
      [(ngModel)]="enteredText"
      placeholder="Please enter the text..."
    />
  </div>
  <div class="buttons">
    <button class="btnRefresh" role="button" (click)="onClick()">
      Refresh
    </button>
    <button class="btnRefresh" role="button">Clear</button>
    <button class="btnRefresh" (click)="btnStart()" role="button">Start</button>
  </div>
</div>
