<div class="container midBody" [ngClass]="{ zoomEffect: isZoomed }">
  <!-- <div class="countdownDiv"><p class="kodchasan-normal countdownP">999</p></div> -->
  <h1 class="kodchasan-bold">Lorem Test</h1>
  <div class="d1">
    <p class="kodchasan-normal">
      <span
        [class]="compare(letter, enteredText[i])"
        *ngFor="let letter of randomText.split(''); let i = index"
        >{{ letter }}</span
      >
    </p>
  </div>

  <div class="inputDiv">
    <input
      class="inputArea"
      type="text"
      [readonly]="!isZoomed"
      [(ngModel)]="enteredText"
      (keydown.enter)="enterKeydown()"
      (keydown)="blockBackspace($event)"
      placeholder="{{ !isZoomed ? beforeZoom : afterZoom }}"
    />
  </div>

  <div class="buttons">
    <button class="btnRefresh btnStart" role="button" (click)="onClick()">
      {{ currentTranslations.middleRefresh }}
    </button>
    <button
      class="btnRefresh countdown kodchasan-bold"
      role="button"
      [ngStyle]="{ display: list[1] ? 'flex' : 'none' }"
    >
      {{ seconds }}
    </button>
    <button class="btnRefresh btnStart" (click)="btnStart()" role="button">
      {{
        !isZoomed
          ? currentTranslations.middleStart
          : currentTranslations.middleStop
      }}
    </button>
  </div>
</div>
